#pesquisar::placeholder {
    color: #5729d6; 
    font-size: 14px; 
    font-style: normal; 
    background-color: #a8ffaf; 
    padding: 5px; 

}
#pesquisar {
    color: #5729d6;
    font-style: italic;
}