@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
    --green: #40531B;
    --light-green: #b1da9b;
    --red: #C03221;
    --yellow: #F5B700;
    --white: #F2F6D0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

header{
    background-color: var(--light-green);
    height: 150px;
    text-align: center;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header h1{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin: auto;
}

main{
    width: 70vw;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    min-width: 540px;
    margin: 50px auto;
}

main p{
    text-align: justify;
    margin: 0 0 25px 0;
}

table{
    box-shadow: -1px 1px 5px 2px #aaaaaa;
    border-radius: 15px;
    border-collapse: collapse;
    width: 100%; /* o tamanho está mudando quando atualiza tabela, fazer de modo que fique estático */
}

/* Não tem como aplicar border-radius diretamente na tabela, logo, aplicarei internamente nos tds e ths */

table tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
}

table tr:first-child th:last-child{
    border-top-right-radius: 15px;
}

table tr:first-child th:first-child{
    border-top-left-radius: 15px;
}

th{
    background-color: var(--green);
    color: var(--white);
}

th span{
    display: flex;
    flex-direction: column;
}

th i{
    cursor: pointer;
    color: var(--yellow);
}

th select{
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/filter-solid.svg) no-repeat right;
    padding-right: 20px;
    /* fill: var(--yellow); */
    background-color: var(--white);
}

td, th {
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}

td:nth-child(3), td:nth-child(4){
    text-align: left;
}

th{
    border-left: 0.5px solid var(--light-green);
}

th:first-child{
    border: none;
}

tr:nth-child(odd) {
    background-color: var(--light-green);
}

tr:hover{
    background-color: var(--yellow);
}

td:first-child{
    font-weight: 500;
    font-size: 1.2rem;
}

.logo {
    width: 100px;
    height: auto;
}

footer{
    background-color: var(--green);
    color: var(--white);
    height: 200px;
    box-sizing: border-box;
    padding: 2%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#contato-devs{
    margin-bottom: 1%;
}

#contato-devs a{
    margin: 0 1% 0 1%;
    color: var(--white);
}

footer h2{
    margin-bottom: 2px;
    font-size: 1.3em;
}

footer #redes-instituto{
    display: flex;
    gap: 3%;
    justify-content: center;
}

footer #redes-instituto a{
    color: var(--red);
    text-decoration: none;
    font-size: 2.5rem; 
    transition: transform 0.5s;
}

#redes-instituto a:hover{
    transform: scale(1.1);
}
