:root{
    --green: #40531B;
    --light-green: #b1da9b;
    --red: #C03221;
    --yellow: #F5B700;
    --white: #F2F6D0;
}

header h1{
    text-align: center;
}

main{
    width: 70vw;
    margin: auto;
    min-width: 540px;
}

table{
    box-shadow: -1px 1px 5px 2px #aaaaaa;
    border-radius: 15px;
    border-collapse: collapse;
    width: 100%; /* o tamanho está mudando quando atualiza tabela, fazer de modo que fique estático */
}

/* Não tem como aplicar border-radius diretamente na tabela, logo, aplicarei internamente nos tds e ths */

table tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
}

table tr:first-child th:last-child{
    border-top-right-radius: 15px;
}

table tr:first-child th:first-child{
    border-top-left-radius: 15px;
}

th{
    background-color: var(--green);
    color: var(--white);
}

th span{
    display: flex;
    flex-direction: column;
}

th i{
    cursor: pointer;
    color: var(--yellow);
}

th select{
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/filter-solid.svg) no-repeat right;
    padding-right: 20px;
    /* fill: var(--yellow); */
    background-color: var(--white);
}

th,
td {
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
}

tr:nth-child(odd) {
    background-color: var(--light-green);
}

td:first-child{
    font-weight: 500;
    font-size: 1.2rem;
}

.logo {
    width: 100px;
    height: auto;
}
